* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

* :after,
* :before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
}

.page-header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(247, 248, 248);
  height: 50px;
  z-index: 2;
}

.logoTnw {
  width: 70px;
  margin-left: 30px;
  margin-right: auto;
}

.emailLogo {
  width: 20px;
  margin-left: auto;
  margin-right: 20px;
}

.emailLogo > svg {
  fill: gray;
}

.yellowFlag {
  position: sticky;
  top: 50px;
  display: flex;
  height: 40px;
  background-color: rgb(248, 218, 49);
  align-items: center;
  z-index: 2;
}

.yellowFlag > span {
  margin-left: 30px;
  font-size: 15px;
}

.page-nav > ul {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.page-nav ul > li {
  list-style: none;
  color: rgb(80, 86, 102);
}

main {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
}

.main-header {
  height: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 190px;
  background-color: rgb(255, 255, 255);
}

.main-header > svg {
  width: 230px;
}

.main-header h1 {
  color: rgb(80, 86, 102);
}

.sec-one {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(3, auto);
  grid-gap: 10px;
}

.sec-one img {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.disp-box1,
.disp-box2,
.disp-box3,
.disp-box4,
.disp-box5 {
  position: relative;
  overflow: hidden;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 20px;
}

.disp-box1 {
  grid-column: 1/2;
  grid-row: 1/3;
  width: 686px;
  height: 377px;
}

.disp-box1 h2 {
  font-size: 30px;
  font-family: sans-serif;
}

.disp-box2 {
  width: 340px;
  height: 249px;
}

.disp-box2 h2 {
  font-size: 17px;
  font-family: sans-serif;
}

.disp-box3 h2 {
  font-size: 17px;
  font-family: sans-serif;
}

.disp-box4 {
  height: 248px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.disp-box4 h2 {
  width: 500px;
  text-align: center;
  margin-top: 30px;
}

.disp-box4 button {
  border: 1px solid white;
  color: white;
  border-radius: 30px;
  background-color: transparent;
  width: 150px;
  height: 50px;
  margin-bottom: 30px;
}

.disp-box5 {
  position: relative;
  grid-column: 2/-1;
  grid-row: 2/-1;
}

.disp-box5 h2 {
  font-family: sans-serif;
  font-size: 30px;
}

.colorEffect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.sec-two {
  margin: 0 auto;
  width: 92%;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.sec-two > h3 {
  text-align: center;
  color: #a7aab2;
  font-size: 32px;
  margin-bottom: 50px;
}

.sec-two-wrapper {
  display: flex;
  justify-content: space-between;
}

.sec-two-wrapper span {
  color: #cc0099;
  font-size: 38px;
  margin-right: 10px;
}

.sec-two-wrapper > div {
  display: flex;
  font-size: 20px;
  width: 230px;
}

.sec-two-wrapper p {
  margin-top: 10px;
}

.sec-three {
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  width: 85%;
}

.sec-three > h3 {
  font-size: 40px;
  margin-bottom: 30px;
}

.sec-three-wrapper {
  display: grid;
  grid-template-columns: repeat(4, minmax(240px, 1fr));
  grid-gap: 30px;
}

.sec-three-wrapper img {
  max-width: 100%;
}

.sec-three-wrapper p {
  margin: 10px 0;
}

.sec-three-wrapper span {
  color: #a7aab2;
}

.sec-three .buttonDiv {
  margin: 0 auto;
  margin-top: 50px;
}

.buttonDiv button {
  background-color: white;
  padding: 10px;
  color: #505666;
  font-size: 16px;
  border-radius: 20px;
  border-color: rgba(80, 86, 102, 1);
}

.sub-sec-four-1 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-plugged.jpg&signature=4423a77a45ff6281a089424a8dd0bc24");
}
.sub-sec-four-2 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-neural.jpg&signature=7b20700b0f58af3860449664ae1a5e68");
}
.sub-sec-four-3 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-shift.jpg&signature=1d3ef28f5220f870b7e289810caa80a3");
}
.sub-sec-four-4 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-growth-quarters.jpg&signature=72ccfd9e92f942be8ace3526d0dc3aab");
}
.sub-sec-four-5 {
  background: url("https://img-cdn.tnwcdn.com/image?fit=260%2C235&url=https%3A%2F%2Fnext.tnwcdn.com%2Fassets%2Fnext%2Fimg%2Fbackdrop-s-hardfork.jpg&signature=77d9941cfc302cb2e25c39ab3043fa7b");
}

.sec-four {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
}

.sec-four h3 {
  font-size: 40px;
  margin-bottom: 90px;
}

.sec-four-wrapper {
  display: flex;
  justify-content: space-between;
}

.sec-four-wrapper > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.sec-four-wrapper > div > img {
  width: 100px;
  margin-top: 30px;
}

.sec-four-wrapper > div > p {
  font-size: 20px;
  width: 250px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

.sec-five {
  display: flex;
  flex-direction: column;
  background-image: url("https://next.tnwcdn.com/assets/next/img/spacesbg.png");
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: center;
  color: white;
  margin-top: 100px;
}

.sec-five h3 {
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 48px;
  text-align: center;
}

.sec-five p {
  font-size: 16px;
  text-align: center;
}

.sec-five span {
  color: rgb(54, 204, 204);
}

.sec-five a {
  cursor: pointer;
}

.sec-five .input-div {
  display: flex;
  margin-top: 10px;
  justify-content: center;
  align-items: center;
}

.input-div input {
  outline: none;
  border: none;
  font-size: 20px;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  height: 50px;
  border-radius: 5px;
}

.input-div button {
  outline: none;
  border: none;
  background-color: white;
  font-size: 12px;
  height: 50px;
  padding-right: 20px;
  margin-left: -7px;
  color: #a7aab2;
  border-radius: 5px;
  cursor: pointer;
}

.sec-five .social-media-buttons {
  align-self: center;
  margin-top: 50px;
  margin-bottom: 90px;
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sec-five svg {
  width: 25px;
  fill: rgba(255, 255, 255, 0.3);
  cursor: pointer;
}

.sec-six {
  width: 85%;
  margin: 0 auto;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.sec-six h3 {
  margin-bottom: 50px;
  font-size: 35px;
}

.sec-six-wrapper {
  display: grid;
  grid-template-columns: 1fr 200px;
  grid-gap: 20px;
  max-height: 650px;
}

.sub-sec-six-part1 .imgDiv {
  background-image: url("https://i.ytimg.com/vi/3Gpmto2eoro/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.sub-sec-six-part1 .bottomPart {
  background-color: black;
  color: white;
  height: 150px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}

.bottomPart p {
  margin-top: 50px;
  margin-bottom: 10px;
}

.sub-sec-six-part1 svg {
  width: 50px;
}

.sub-sec-six-part2 img {
  width: 100%;
  z-index: -1;
}

.sub-sec-six-part2 {
  position: relative;
  max-height: 650px;
  overflow-y: scroll;
}

.sub-sec-six-part2 > div:not(:first-of-type) {
  margin-top: 15px;
}

.sub-sec-six-part2 .mask {
  position: sticky;
  width: 100%;
  height: 30px;
  bottom: 0px;
  background: linear-gradient(to top, white, transparent);
}

.sec-seven {
  display: flex;
  flex-direction: row;
  width: 85%;
  margin: 0 auto;
  margin-top: 200px;
  justify-content: space-between;
}

.sec-seven-subsec-one {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.sec-seven-subsec-one p:first-of-type {
  margin-bottom: 7px;
}

.sec-seven-subsec-one h3 {
  font-size: 40px;
  margin-bottom: 15px;
}

.sec-seven-subsec-one p:not(:first-of-type) {
  font-size: 20px;
  text-align: justify;
  margin-bottom: 30px;
}

.sec-seven-subsec-one button {
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 5px;
  background-color: rgb(54, 204, 204);
  color: white;
  cursor: pointer;
}

.sec-seven-subsec-two {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.sec-seven-subsec-two > div {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  margin-right: 50px;
}

.some-pic {
  background-color: rgb(216, 246, 246);
  border-radius: 50%;
  width: 110px;
  height: 110px;
  margin-right: 20px;
}

.sec-eight ul {
  display: flex;
  width: 85%;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 100px;
  list-style-type: none;
}

.sec-eight li {
  width: 20%;
}

.sec-eight li:first-child {
  margin-left: 40px;
}

footer {
  background-color: black;
  margin-top: 50px;
}

.foot-wrapper {
  width: 75%;
  margin: 0 auto;
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.foot-sec-1-partOne {
  display: flex;
  flex-direction: column;
}

footer .foot-sec-1-partOne svg {
  width: 170px;
}

.foot-sec-1-partOne p {
  color: white;
  font-size: 24px;
  margin-top: 20px;
}

footer .social-media-buttons {
  margin-top: auto;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}

footer .social-media-buttons svg {
  width: 25px;
  fill: rgba(255, 255, 255, 0.5);
}

footer .foot-sec-1-partTwo {
  display: flex;
  justify-content: space-between;
  color: white;
  margin-right: 100px;
}

.foot-sec-1-partTwo > div {
  margin-right: 100px;
}

.foot-sec-1-partTwo h3 {
  margin-bottom: 20px;
}

footer .footer-lists {
  color: rgb(54, 204, 204);
  list-style-type: none;
  font-size: 17px;
}

footer .footer-lists li:not(:last-child) {
  margin-bottom: 10px;
}

footer hr {
  margin-top: 50px;
  margin-bottom: 30px;
  border: 1px solid rgb(80, 86, 102);
}

footer .foot-sec-2 {
  color: rgb(80, 86, 102);
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
  align-items: center;
}

.foot-span-one {
  margin-bottom: 10px;
}

.foot-span-one > span {
  color: white;
}

/* Media Queries Start here --------> */

@media (max-width: 1280px) {
  .disp-box1 {
    max-width: 600px;
  }

  .disp-box2 {
    max-width: 300px;
    height: 249px;
  }

  .disp-box5 {
    height: 377px;
  }

  .sec-two-wrapper > div {
    width: 210px;
  }

  .sec-three {
    width: 100%;
  }

  .sec-four-wrapper > div {
    width: 228px;
  }

  .sec-six,
  .sec-seven,
  .sec-eight > ul {
    width: 95%;
  }

  .foot-wrapper {
    width: 95%;
  }
}

@media (max-width: 1024px) {
  .disp-box1 {
    max-width: 478px;
  }

  .disp-box2 {
    max-width: 236px;
    height: 249px;
  }

  .disp-box5 {
    height: 377px;
  }

  .sec-two-wrapper > div {
    width: 150px;
  }

  .sec-three-wrapper {
    width: 100%;
    grid-template-columns: repeat(4, minmax(190px, 1fr));
  }

  .sec-four-wrapper > div {
    width: 176px;
  }

  .sec-four-wrapper > div > p {
    width: 150px;
  }

  .foot-wrapper {
    width: 95%;
  }

  footer .foot-sec-1-partTwo {
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .logoTnw,
  .page-nav,
  .emailLogo,
  .yellowFlag {
    display: none;
  }

  .alternateLogoTnw {
    position: absolute;
    display: flex;
    left: 20px;
    top: 20px;
  }

  .alternateLogoTnw img {
    width: 29px;
    height: 30px;
  }

  .alternateColorLogo {
    margin-top: -8px;
    margin-left: 10px;
    display: flex;
    width: 70px;
  }

  .alternateColorLogo svg {
    width: 70px;
    fill: #a7aab2;
  }

  .main-header {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    gap: initial;
    background-color: rgb(255, 255, 255);
  }

  .main-header > svg {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 400px;
  }

  .main-header h1 {
    color: rgb(80, 86, 102);
    font-size: 25px;
  }

  .sec-one {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
  }

  .disp-box1 {
    grid-column: 1/-1;
    grid-row: 1/2;
    max-width: 100%;
    width: 100%;
    height: 393px;
  }

  .disp-box2 {
    max-width: 100%;
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    height: 200px;
  }

  .disp-box3 {
    grid-column: 2/-1;
    grid-row: 2/3;
  }

  .disp-box4 {
    grid-column: 1/2;
    justify-content: space-around;
  }

  .disp-box4 h2 {
    width: 320px;
    margin-top: 20px;
  }

  .disp-box4 button {
    width: 140px;
    height: 40px;
    margin-bottom: 10px;
  }

  .disp-box5 {
    grid-column: 2/-1;
    grid-row: 3/-1;
    height: initial;
  }

  .sec-two > h3 {
    margin-bottom: 30px;
  }

  .sec-two-wrapper {
    flex-direction: column;
  }

  .sec-two-wrapper span {
    margin-right: 20px;
  }

  .sec-two-wrapper > div {
    font-size: 25px;
    width: 100%;
    margin-top: 20px;
  }

  .sec-three-wrapper {
    width: 100%;
    grid-template-columns: repeat(2, minmax(190px, 1fr));
    grid-gap: 100px;
  }

  .sec-four {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .sec-four h3 {
    margin-bottom: 50px;
  }

  .sec-four-wrapper {
    overflow-x: scroll;
  }

  .sec-four-wrapper > div {
    width: 200px;
    flex-shrink: 0;
    margin-right: 20px;
  }

  .sec-four-wrapper > div:last-child {
    margin-right: initial;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .sec-four-wrapper::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .sec-four-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .sec-five h3 {
    font-size: 35px;
  }

  .sec-five > p {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .sec-six {
    width: 85%;
  }

  .sub-sec-six-part1 {
    width: 410px;
  }

  .sub-sec-six-part1 .imgDiv {
    height: 230px;
  }

  .sub-sec-six-part2 {
    height: 385px;
  }

  .sec-seven {
    margin-top: 150px;
    width: 85%;
  }

  .sec-seven-subsec-one p:not(:first-of-type) {
    text-align: initial;
    color: rgb(80,86,102);
  }

  .sec-seven-subsec-two {
    margin-left: 60px;
    grid-gap: initial;
  }
  
  .sec-seven-subsec-two > div {
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
  }
  
  .some-pic {
    width: 100px;
    height: 100px;
  }

  .sec-eight ul {
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
  }
  
  .sec-eight li {
    width: 200px;
  }
  
  .sec-eight li:first-child {
    margin-left: initial;
  }

  .sec-eight li:nth-child(7) {
    margin-right: 20px;
  }

  footer {
    margin-top: 10px;
  }
  
  .foot-wrapper {
    width: 85%;
    flex-direction: column;
  }
  
  .foot-sec-1-partOne p {
    margin-bottom: 50px;
  }
}

@media (max-width: 650px) {
  
}